{
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "arrowParens": "avoid",
    "trailingComma": "all",
    "printWidth": 120,
    "endOfLine": "crlf",
    "rules": {
        "newline-per-chained-call": false
    }
}
