pre {
	color: #333333;
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	background-color: #F5F5F5;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px 4px 4px 4px;
	display: block;
	font-size: 13px;
	line-height: 20px;
	margin: 0 0 10px;
	padding: 10px;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
}
.bt-wrap {
	margin: 20px auto;
	width: 450px;
	font-family: 'Roboto', Verdana, sans-serif;
}

.bt-github-logo {
	margin-left: auto;
}

.bt-header {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.example3 {
	max-height: 350px;
}

div[class^="example"]::-webkit-scrollbar-track {
	 background-color: #bbbbbb;
 }
div[class^="example"]::-webkit-scrollbar {
	 width: 6px;
	 height: 6px;
 }
div[class^="example"]::-webkit-scrollbar-thumb {
	 background-color: #888888;
 }
