$gray: #ccc;
$lightGray: scale-color($gray, $lightness: +55%);
$darkGray: scale-color($gray, $lightness: -35%);
$blue: #00a3cf;
$lightBlue: scale-color($blue, $lightness: +85%);
$lightestBlue: scale-color($blue, $lightness: +95%);
$darkBlue: scale-color($blue, $lightness: -15%);

.bomtable-wrapper {
    font-family: 'Roboto', Verdana, sans-serif;
    font-size: 13px;
    position: relative;
    margin: 0 5px 0 0;
    background-color: #fff;

    * {
        margin: 0;
        padding: 0;
    }

    .bomtable-header-cell-wrap {
        position: relative;
        display: inline-block;
    }

    .bomtable-header-cell-btn:before,
    .bomtable-header-cell-btn:after {
        position: absolute;
        width: 9px;
        height: 1px;
        background-color: $darkBlue;
        display: inline-block;
        transition: all 0.2s ease;
        content: '';
    }

    .bomtable-header-cell-btn {
        width: 15px;
        height: 10px;
        min-height: unset;
        display: inline-block;
        position: relative;
        margin: 0 5px 0 15px;
        line-height: 10px;
        font-size: 14px;
        padding: 0;
        background: transparent;
        border: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:hover {
            background: transparent;
            opacity: .8;
        }

        &:before {
            left: 0;
            transform: rotate(45deg);
        }

        &:after {
            right: 0;
            transform: rotate(-45deg);
        }
    }

    .active .bomtable-header-cell-btn:before {
        transform: rotate(-45deg);
    }

    .active .bomtable-header-cell-btn:after {
        transform: rotate(45deg);
    }

    .bomtable-no-header {
        border-top: 1px solid $gray;
    }

    .bomtable-square {
        position: absolute;
        z-index: 10;
        background-color: $blue;
        height: 7px;
        width: 7px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        margin-left: -5px;
        margin-top: -5px;
        cursor: crosshair;
    }

    .bomtable-copy-area-left,
    .bomtable-copy-area-right,
    .bomtable-copy-area-top,
    .bomtable-copy-area-bottom {
        position: absolute;
        z-index: 8;
        background-color: $darkBlue;
        width: 3px;
        height: 3px;
    }

    .bomtable-copy-area-bottom {
        padding-right: 3px;
    }

    .bomtable-active-area-left,
    .bomtable-active-area-right,
    .bomtable-active-area-top,
    .bomtable-active-area-bottom {
        position: absolute;
        z-index: 8;
        background-color: $darkBlue;
        width: 1px;
        height: 1px;
        box-sizing: border-box;
    }

    .bomtable td::selection,
    .bomtable th::selection {
        background: transparent;
        color: inherit;
    }

    .bomtable th.highlight {
        background-color: $lightestBlue;
    }

    textarea.bomtable-input {
        position: absolute;
        z-index: 10;
        outline-width: 0;
        margin: 0;
        padding: 0 0 0 4px;
        font-family: inherit;
        line-height: 23px;
        font-size: inherit;
        box-shadow: inset 0 0 0 1px $blue;
        border: 1px solid $blue;
        resize: none;
        display: block;
        color: #000;
        border-radius: 0;
        background-color: #fff;
        overflow: hidden;
        min-height: auto;
        max-height: unset;
        box-sizing: border-box;
    }

    .bomtable-buffer {
        width: 1px;
        height: 1px;
        position: absolute;
        z-index: -5;
        top: 5px;
        left: 5px;
        resize: none;
    }

    .bomtable-col-resizer {
        width: 5px;
        height: 28px;
        cursor: col-resize;
        position: absolute;
        z-index: 20;
        top: 0;
        left: 0;
        background-color: $blue;
        opacity: 0;

        &:hover,
        &:active {
            opacity: 1;
        }
    }

    .bomtable-col-resizer:active ~ .bomtable-col-resizer-line {
        opacity: 1;
    }

    .bomtable-col-resizer-line {
        width: 1px;
        height: 100%;
        position: absolute;
        z-index: 15;
        top: 0;
        left: 0;
        background-color: $darkGray;
        opacity: 0;
    }

    .bomtable-context-menu,
    .bomtable-header-menu {
        position: absolute;
        box-shadow: 0.5px 0.5px 1px 0 rgba(0, 0, 0, 0.15);
        border: 1px solid $gray;
        background: white;
        padding: 0;
        z-index: 1000;

        li {
            position: relative;
            text-align: left;
            list-style: none;
            cursor: pointer;
            border-bottom: none;
            background-color: #fff;
            background-repeat: no-repeat;
            margin-bottom: 0;
            min-width: 130px;
            line-height: normal;
            background-position: 5px center;
            background-size: 16px 16px;
            padding: 6px 10px 6px 30px;

            &:hover {
                background-color: #f1f1f1;
            }

            &.bomtable-hr {
                height: 0;
                padding: 0;
                font-size: 0;
                border-bottom: 1px solid $gray;
                margin: 0;
                width: auto;
            }

            &.disabled {
                background-color: $lightGray;
                cursor: not-allowed;
                opacity: .7;
            }

            &.add-row {
                background-image: url('../img/add-row.svg');
            }

            &.add-col {
                background-image: url('../img/add-col.svg');
            }

            &.remove-rows {
                background-image: url('../img/remove-row.svg');
            }

            &.remove-cols {
                background-image: url('../img/remove-col.svg');
            }

            &.union-rows {
                background-image: url('../img/union-rows.svg');
            }

            &.union-cols {
                background-image: url('../img/union-cols.svg');
            }
        }
    }

    .bomtable-nw {
        white-space: nowrap;
    }

    .bomtable-header-cell-btn .bomtable-header-menu {
        left: 1px;
        top: 12px;
        border: 1px solid $blue;

        li {
            border-top: 1px solid $blue;

            &:first-child {
                border: none;
            }

            &.bomtable-hr {
                display: none;
            }
        }

    }

    &.touched {
        .bomtable-square {
            width: 15px;
            height: 15px;
            margin-left: -9px;
            margin-top: -9px;
        }
    }
}

.bomtable {
    border-collapse: separate;
    border-spacing: 0;
    margin: 0;
    border-width: 0;
    table-layout: fixed;
    outline-width: 0;
    max-width: none;
    max-height: none;
    position: relative;
    top: -5px;
    z-index: 5;

    tr {
        background: #fff;
    }

    th,
    td {
        border-top-width: 0;
        border-left-width: 0;
        border-right: 1px solid $gray;
        border-bottom: 1px solid $gray;
        padding: 0 4px;
        height: 28px;
        line-height: 23px;
        empty-cells: show;
        vertical-align: top;
        overflow: hidden;
        white-space: pre-line;
        min-width: 35px;
        font-size: 13px;
        font-weight: normal;
        box-sizing: border-box;

        &:first-child {
            border-left: 1px solid $gray;
        }
    }

    &:not(.bomtable-copy-table) {
        th {
            border-collapse: collapse !important;
            line-height: 0 !important;
            height: 0 !important;
            min-height: 0 !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            overflow: hidden !important;
            border-top: 0 !important;
            border-bottom: 0 !important;
        }

        .bomtable-header-cell-wrap,
        .bomtable-header-cell-btn,
        .bomtable-header-cell-btn:before,
        .bomtable-header-cell-btn:after {
            overflow: hidden !important;
            line-height: 0 !important;
            height: 0 !important;
            min-height: 0 !important;
        }
    }
    thead.bomtable-hidden {
        opacity: 0;
    }

    td {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 250px;

        &.area {
            background: $lightBlue !important;
        }

        &.pressed {
            background: $lightestBlue !important;
        }
    }
}

.bomtable-copy-table {
    &.sticky {
        position: sticky;
        top: 0;
    }

    z-index: 20;

    thead {
        th {
            border-top: 1px solid #cccccc;
        }
    }
}